#dark_theme 
{
    --popup-main-text-color: white;
    --popup-accent-color: var(--gray2);
    --popup-separator-color: var(--gray3);
    --popup-accent-hovered-color: var(--gray3);
    --popup-background-color: var(--gray1);
    --popup-card-background-color: var(--gray2);
}

#primary_section 
{
    display: none;
}

#hostname
{
    display: inline-block;
    overflow: hidden;
}

.separator {
    height: 1px;
    background-color: var(--popup-separator-color);
    opacity: 0.5;
    margin: 0px;
    margin-bottom: 10px;
}

.primary_section 
{
    padding: 8px;
    margin: 16px;
    width: 288px;
    background-color: var(--popup-card-background-color);
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
}

.block_count_number
{
    color: #FF453AFF;
}

body 
{
    color: var(--popup-main-text-color);
    background-color: var(--popup-background-color);
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-family: "Lato", Arial, sans-serif;
}

:root 
{
    --gray1: #333333;
    --gray2: #1C1C1EFF;
    --gray3: #999999;
    --gray4: #c6c6c6;
    --gray5: #e6e6e6;
    --gray6: #f4f4f4;
    --popup-main-text-color: #333333;
    --popup-accent-color: #999999;
    --popup-separator-color: var(--gray5);
    --popup-accent-hovered-color: #666666;
    --popup-background-color: #f4f4f4;
    --popup-card-background-color: white;
    --background-color: white;
    --main-text-color: #666666;
}